################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/x64
/vscode
.vscode/
.vscode
/Bus
/GFX
/main
/Main
main
*.sln
*.filters
*.user
*.vcxproj
*.dll
*.json
TPR_6809.exe
