################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/x64
/vscode
.vscode/
/Bus
/GFX
/main
/
main
*.sln
*.filters
*.user
*.vcxproj
*.dll
